
.wrapper-comics-list {
    border: 2px solid black;
    padding: 30px;
    margin: 50px 0 0 95px;
    width: max-content;
    background-image: url('../../assets/image/bg-comics.jpg');
    background-size: auto;
    box-shadow: 10px 10px 10px 10px rgba(9, 8, 8, 0.6);
    max-width: 1245px;
    min-width: 1245px;
    min-height: 1630px;
    position: relative;
}