@use '../../assets/fonts.scss';
@import '../../assets/mixins.scss';
@import '../../assets/variables.scss';

.wrapper-characters-list {
    border: 2px solid black;
    padding: 30px;
    margin: 50px 0 0 0;
    width: max-content;
    background-image: url('../../assets/image/bg.jpg');
    background-size: auto;
    box-shadow: 10px 10px 10px 10px rgba(9, 8, 8, 0.6);
    max-width: 1245px;
    min-height: 630px;
    height: max-content;
    position: relative;
    align-items: center;

    &__action {
        display: flex;
        justify-content: space-between;
    }

    &__form {
        @include form
    }

    &__search-input {
        border: 1px solid rgb(0, 0, 0);
        clip-path: polygon(6% 0%, 100% 0%, 94% 100%, 0% 100%);
        padding: 0 20px 0 20px;
        width: 200px;
        height: 25px;
        background-color: wheat;
    }

    &__button {
        @include action-button
    }

    &__loading {
        @include loading
    }
}

.characters {
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 20px;
    padding: 0;
    font-style: normal;
    width: max-content;
    margin: 0;


    &__card {
        background-color: rgba(0, 0, 0, 0.88);
        clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 88% 100%, 0% 100%);
        border-radius: 5px;
        overflow: hidden;
        padding: 30px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        max-width: 400px;

        &:hover {
            box-shadow: 10px 9px 23px rgba(255, 0, 0, 0.45);
        }

        span {
            color: wheat;
        }
    }

    &__name {
        padding-bottom: 10px;
        font-size: 1.2rem;
        font-weight: 400;
        color: #fff;
    }

    &__thumbnail {
        @include thumbnail(none, cover, none)
    }

    &__buttons-wrapper {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

    &__btn {
        width: 105px;
        height: 30px;
    }

    &__load-more {
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media (max-width: map-get($breakpoints, xl)) {
    .characters {
        gap: 18px;
        margin: 0 auto;

        &__card {
            padding: 20px;
            margin: 0 auto;
        }

        &__thumbnail {
            width: 185px;
            height: 185px;
        }

        &__buttons-wrapper {
            display: flex;
            gap: 6px;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
        }

        &__btn {
            width: 180px;
            height: 35px;
        }
    }
}

@media (max-width: map-get($breakpoints, lg)) {
    .wrapper-characters-list {
        margin-left: 30px;
        width: max-content;
        min-width: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .characters {
        grid-template-columns:  repeat(3, 1fr);
        gap: 8px;

        &__thumbnail {
            width: 180px;
            height: 180px;
        }

        &__buttons-wrapper {
            flex-direction: row;
        }

        &__btn {
            width: 100px;
            height: 26px;
        }
    }
}

@media (max-width: map-get($breakpoints, md)) {
    .wrapper-characters-list {
        margin-left: 30px;
        width: max-content;
        margin: 0;

        &__action {
            flex-direction: column;
            margin-bottom: 30px;
        }
    }

    .characters {
        grid-template-columns:  repeat(2, 1fr);

        &__thumbnail {
            width: 178px;
            height: 178px;
        }

        &__buttons-wrapper {
            gap: 6px;
            flex-direction: row;
        }

        &__name {
            font-size: 1rem;
        }

        &__btn {
            width: 100px;
        }
    }
}

@media (max-width: map-get($breakpoints, sm)) {
    .wrapper-characters-list {
        margin-left: 20px;
        flex-direction: column;
        margin: 0;

        &__action {
            flex-direction: column;
            margin-bottom: 30px;
        }
    }

    .characters {
        grid-template-columns:  repeat(1, 1fr);
        gap: 7px;

        &__buttons-wrapper {
            gap: 6px;
            flex-direction: row;
        }
    }
}
