
$breakpoints: (
    xs: 480px,
    sm: 768px,
    pre-sm: 900px,
    md: 1024px,
    lg: 1280px,
    xl: 1440px,
    xxl: 1680px
);

$text-shadow:
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red;
